<h1>Listing Interfaces </h1>
<% @interfaces.each do |ifname, ifvalues|  %>
<p> 
  <strong><%= ifname %></strong> 
</p>
<table>
  <% ifvalues.each do |key,value|  %>
  <tr>
    <td> <%= key %> </td>
    <td> <%= value %> </td> 
  </tr>
  <% end %>
</table>
<% end %>
